<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MMORPG Game of Thrones</title>
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/screen.css">
	<script src="components/jquery/dist/jquery.min.js"></script>
</head>