/*  __________________NAVBAR__________________ */

.navbar-inverse{
	background:$cor-primaria;
	margin:0;

	.navbar-form{
		@include box-shadow(none);
		border:0;

		.form-control{
			margin:5px 0;
		}
	}
	.navbar-collapse{		
		@media (max-width:767px){
			width:100%;
			position:absolute;
			background:#272727;
		}
	}
	
}
