/* STYLE - ESTILOS GERAIS */
*{
	margin:0;
	padding:0;
	@include box-sizing(border-box);
	@include box-sizing(padding-box);
}

body, html{
	width:100%;
	min-height:100%;
	height:100%;
}

body{
	font-family: Arial;
}

/* MENSAGENS ERRO */


.msg-erro, .msg-sucesso{
	position:absolute;
	width:250px;
	height:auto;
	right:0;
	margin:15px 0;	
	padding:15px;
	z-index: 2;
	border-radius:3px;
	color:#FFF;
	-webkit-animation: msg 7s forwards; 
    animation: msg 7s forwards;

	h1{
		font-weight: bold;
		margin:7px 0;
	}
}

.msg-erro{
	background:#D22020;
}

.msg-sucesso{
	background:#1D932C;
}
