<!DOCTYPE html>
<html>

<% include partials/head %>

<body class="body-login">
	
	<div class="container error">
		<div class="row col-lg-12">
			<h1>Efetue o Login para acessar o jogo! :/</h1>
			<a href="/" class="btn btn-info">Login</a>
		</div>
	</div>

</body>
</html>