<!DOCTYPE html>
<html>

<% include partials/head %>

<body class="body-login">
	
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<form action="" class="navbar-form navbar-right">
				<input type="text" class="form-control" id="usu_usuario" name="usu_usuario" placeholder="Usuário" required>
				<input type="password" class="form-control" id="usu_senha" name="usu_senha" placeholder="Senha" required>
				<button type="submit" class="btn btn-success">Entrar</button>
				<button type="submit" class="btn btn-info">Cadastrar</button>
			</form>
		</div>
	</nav>


	<div class="container">
		<div class="row">
		<section class="imagem-fundo"></section>	
		</div>
	</div>



</body>
</html>