<div class="pergaminhos">
	<div class="row col-x-12 fechar">
		<a href="" class="pull-right">X</a>
	</div>							
	<h3>Pergaminhos</h3>	
	<ul>
		<li>1 enforcamento(s) programado - restam 00000 segundos - <a href="#">revogar ordem</a></li>
		<li>1 enforcamento(s) programado - restam 00000 segundos - <a href="#">revogar ordem</a></li>
	</ul>
</div>